body {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: medium;
	background: #fff;
	color: #000;
}

h1 {
	text-align: center;
}

#main {
	width: 704px;
	margin: auto;
}

#table {
	text-align: center;
	width: 100%;
}

#draw {
	width: 704px;
}

.card {
	border: 8px solid #ccc;
}

.selected {
	border: 8px solid #00c;
}

#set, #reset, #showAnswers {
	width: 216px;
}