body {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: medium;
	background: #fff;
	color: #000;
}

h1 {
	text-align: center;
}

#main {
	width: 706px;
	margin: auto;
}

#table {
	text-align: center;
	width: 100%;
}

#draw {
	width: 706px;
}

button {
	width: 216px;
	height: 5em;
	padding: 1em;
	font-size: 120%;
}

.card {
	border: 8px solid #ccc;
}

.selected {
	border: 8px solid #00c;
}

